@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,600;1,100&family=Questrial&display=swap');

* {
  margin: 0;
  padding: 0;
}

:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

body {
  font-family: 'Questrial', sans-serif;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
}